<p style="clear: both;">
  <span *ngIf="direction" style="font-weight: bold;"><span *ngIf="ride.line">{{ride.line}} </span>{{direction}}</span>
  <span style="float:right;"><img *ngIf="operatorLogo" src="{{operatorLogo}}" style="max-height: 1em;vertical-align: middle;"> {{ride.type}}</span>
</p>

<div *ngFor="let train of ride.train" style="display: inline-block;">
  <img *ngIf="train.image" src="{{train.image}}" style="max-height: 50px;"><br>
  <mat-chip routerLink="/trains/{{train._id}}">{{train.name}} by {{train.manufacturer}}</mat-chip>
</div>

<br><br>

<span>
  Departures: <mat-chip-list><mat-chip *ngFor="let departure of ride.departures">{{departure}}</mat-chip></mat-chip-list>
</span>

<br><br>

<span *ngIf="ride.excludeDays.length > 0">
  Not on: <mat-chip-list><mat-chip *ngFor="let exclusion of ride.excludeDays">{{days[exclusion]}}</mat-chip></mat-chip-list>
</span>

<br><br>

<mat-divider></mat-divider>